*{
    padding: 0;
    margin: 0;
    Font-family: helvetica neue, helvetica, arial, sans-serif,Roboto, ;
}
.all{
    min-height: 100vh;
    width:100%
}
A{
    color: rgb(77, 12, 176);
    margin-right: 200px; 
    text-decoration: none;
}
a:hover{
    border:2px solid orange;

}

.lists{
    display:flex;
    gap:2rem;
    background: black;
   
    height: 15vh;
    justify-content: center;
   align-items: center;
}
#logo{
    color: orange;
    font-size: 300%;
    text-shadow: 20%;
    justify-content: center;
    align-items: center;
}
.lists li{
list-style: none;
color: aqua;
}

.lists li a{
    text-decoration: none;
    text-transform:uppercase;
    color: aqua;
}


.icons .fa-brands{
color:black;
font-size: 1.5rem;
}

.fa-brands:hover{
    border:2px solid rgb(205, 17, 83);

}
.leftside,.rightside{
display:flex;
align-items: center;
}
.leftside{
    padding-left:3rem;
}
.icons{
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:2rem;
padding-top: 0.5rem;

}
.content{
    padding:6rem;

}
.endp{
    font-size: 150px;
}
.content h2{
    color: brown;
    font-size: 50px;
    }
 .content h1{
   color: rgb(110, 36, 167);
    }
      
    .content p{
        color:rgb(5, 86, 149);
        font-size: large;
        margin:1.1rem 0 4rem 0 ;
        line-height: 1.4rem;
        text-align: left;
        
    }
.content button{
   border: .1rem solid;
   font-size:2rem;
   padding: 3rem 4rem 3 rem 3rem;
   border-radius:5%;
   margin:2.5rem;
   background-color: rgb(207, 219, 40);
   font-style: italic;
   
}
.design .circleone,.circletwo{
aspect-ratio:1;
position: fixed;
border-radius: 50%;
top:70%;
left:87%;
transform: translate(-50%,-50%);

}
.design .circleone{
background: rgb(13, 29, 13);
height:23rem;

}
.design .circletwo{
    background-color: white;
background-image: url("1.WEBP.jpg");
background-size: 100%;
background-repeat:no-repeat ;
height:20rem;

}
.CONTACTS{
    color:black;
font-size: 1.5rem;
}


